.container {

    background-color: cornflowerblue;
    justify-content: space-evenly;
    padding: 30px;
    flex-flow: row;



}

.Album-1 {

    background-color: violet;
    width: 200px;
    height: auto;
    padding: 20px;

   


}

.Album-2 {

    background-color: red;
    width: 200px;
    height: auto;
    padding: 20px;

   

}

.Album-3 {

    background-color: yellow;
    width: 200px;
    height: auto;
    padding: 20px;


}

.Album-4 {

    background-color: green;
    width: 200px;
    height: auto;
    padding: 20px;


}

.Album-5 {

    background-color: blue;
    width: 200px;
    height: auto;
    padding: 20px;


}